

body {
  background-color: #fafafa;
  color: black;
}

.container {
  padding-top: 5%;
  padding-left:10%;
  padding-right:10%;
  text-align: center;
  color: black;
}

img {
  width: 100%;
  height: auto;
}

.logo {
  margin: auto;
  max-width: 50%;
}

.image{
  height:auto;
  max-width: 70%;
}

.daily {
    padding-top: 1%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 1.8em;
}

.box {
    max-height:800px;
    max-width: 800px;
    padding-top:1.5%;
    padding-bottom:1.5%;
}

.display-data {
  font-family: 'Baskerville', serif;
  font-size: 1.1em;
  line-height: 1.2em;
  padding-bottom:2%;
}

#theButton {
  margin-bottom: 2%;
  font-family: 'Reenie Beanie', cursive;
  font-size: 1.8em;
}

.footer {
  font-size: 0.8em;
  font-family: 'Baskerville';
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1.3%;
}

.redheart {
  color:#ff0000; font-size:14px;
  font-family:'arial unicode MS', arial, sans-serif;
  display: inline-block;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: gray;
  }

a:hover {
  color: red;
  }

@media only screen and (max-width: 800px) {
  .daily {
    font-size: 1.4em;
  }

.logo {
    margin: auto;
    max-width: 80%;
  }

  .display-data {
    font-size: 0.9em;
    line-height: 1em;
    padding-bottom:2%;
  }

.box {
    padding-bottom:0px;
  }
}
